@charset "utf-8";
#bg {
  background-color: #000;
  background-image:url(bg-image.jpg);
  background-size:cover;
  filter: grayscale(70%);
  height: 90vh;
}
#content {
	color: white;
	}
.icon {
	font-size: 40px;}
