@charset "utf-8";
body {
	background-image:url(bg-image.jpg);
	background-size:cover;
	filter: grayscale(70%);
}
.item {
	background: red;
	height: 50vh;
	margin: 50px;
	color: white;
	opacity: 0.9;
}
